* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



/* Navigation Bar*/
nav{
    
    background: rgb(28, 28, 28);
    font-weight: bold;
}

.navbar{
    height: 60px;
}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 3px;
}

nav ul li a{
color: rgb(236, 233, 233);
font-size: 15px;
text-transform: uppercase;
padding: 10px 20px ;
border-radius: 3px;
}

.nav-sec.active,.nav-sec:hover{
    background: rgb(167, 163, 163);
    color: black;
    transition:.5s ;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float:right;
    line-height:50px ;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check
{
    display: none;
}

/* Home page */

.Result img{
    height: 250px;
    width: 300px;
     margin-right: 20px;
     border-radius: 15px;
}

.container{
    margin: 20px 70px;
    padding-bottom: 40px;
}

.container h1,h5{
    text-align: center;
    /* paragraph content */
    padding: 0 120px;  
}



/********************* Responsiveness:- Section1 ************************/
@media (max-width: 952px){

    nav ul li a{
        font-size: 16px;    
    }
 }


 @media (max-width: 915px){
    .checkbtn{
        display: block;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 60px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 20px;
        margin: 50px 0;
        line-height: 30px;

    }

    .nav-sec.active,.nav-sec:hover{
        background: none;
        color: black;  
    }
     
    #check:checked ~ ul{
        right: 0;
    }

 } 